{% extends "base.html" %} {% block content %}

{% load static %}
<div class="mt-5">
    <div class="homePage">
        <div>
            <img src="{% static 'tastybites.jpg' %}" alt="">
        </div>
        <div class="homePageText">
            <h1>Welcome to Tasty Bites</h1>
            <p>
                Tasty Bites is a fast food restaurant ensuring hygiene, quality & taste at the same time.
            </p>
            <p>
                Kuruskul Rastar Matha, Main Road, Cox's Bazar, Cox's Bazar, Bangladesh
            </p>
        </div>
    
    </div>
</div>

{% endblock content %}