{% extends "base.html" %} {% block content %}
{% load static %}
<div id="text_content" class="d-flex mt-5">
    <div>
        
        <img src="{% static 'tastybitesimg.jpg' %}" alt="Tasty Bites">
    </div>
    <div class="text-center mt-5">
        <h1 class="mb-3">Tasty Bites</h1>
        <p>
            Tasty Bites is a fast food restaurant ensuring hygiene, quality & taste at the same time.
            
        </p>
        <p>
            🗺️<strong>Location:</strong> Kuruskul Rastar Matha, Main Road, Cox's Bazar, Cox's Bazar, Bangladesh
        </p>
        <p class="fw-bold">We Specilize in</p>
        <p >
                <li>Fried Chicken</li>
                <li>French Fries</li>
                <li>Lemon Juice</li>
                <li>Chicken Chowmein</li>
                <li>Chicken Burger</li>
                <li>Phuchka</li>
                <li>Fried Rice Set Menu</li>
                <li>Special Tea</li>
                <li>Papaya Juice</li>
        </p>
        <br>
        <p>
            Contact Us: <strong>tahsin.ferdous3546@gmail.com</strong>
        </p>
        <p>📞: <strong>01310091260</strong></p>
    </div>
</div>
{% endblock content %}